/* label color */
.input-field label {
    color: #995050 !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #eee !important;
}

/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=number]:focus, .input-field input[type=textarea]:focus {
    border-bottom: 1px solid #eee !important;
    box-shadow: 0 1px 0 0 #eee !important;
}
/* valid color */
.input-field input[type=text].valid, .input-field input[type=number].valid, .input-field input[type=textarea].valid {
    border-bottom: 1px solid #eee !important;
    box-shadow: 0 1px 0 0 #eee !important;
}
/* invalid color */
.input-field input[type=text].invalid, .input-field input[type=number].invalid, .input-field input[type=textarea].invalid {
    border-bottom: 1px solid #eee !important;
    box-shadow: 0 1px 0 0 #eee !important;
}

/* lever/switch */
.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #b71c1c !important;
}

.switch label .lever:before {
    background-color: #424242 !important;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #eee !important;
}

.al-container {
    max-width: none !important;
}

.row {
    padding: 8px;
}

.flex-justify-left {
    justify-content: flex-start;
}

.flex-justify-left span {
    justify-content: flex-start;
}
.flex-space-between {
    justify-content: space-between !important;
}

.flex-col span {
    display: flex;
}

.padding-left16 {
    padding-left: 16px;
}
.flex-align-items {
    align-items: center !important;
}

.flex-justify-content {
    justify-content: center !important;
}

.displayGrid {
    display: grid;
}

.flex {
    display: flex;
    flex: 1;
}

.font16 {
    font-size: 16px;
}

.font18 {
    font-size: 18px;
}

.font14 {
    font-size: 14px;
}

.font10r {
    font-size: 10rem;
}

.height44 {
    height: 44px;
}

.mod-deck {
    border-radius: 4%;
    position: absolute;
    width: 95%;
    background: #e53935;
    z-index: 200;
    margin-top: -140px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.dice-button {
    line-height: 2.8;
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

a {
    color: #bdbdbd;
}

span.title {
    color: #eeeeee;
}

.circle-image {
    border-radius: 50%;
    max-height: 55px;
    height: auto;
    width: 55px;
    display: inline-block;
    margin: 4px;
}

.text-button-red {
    font-weight: bold;
    color: #B71C1C;
}

.text-button-grey {
    font-weight: bold;
    color: #7d7d7d;
}

.stripe-background {
    background: repeating-linear-gradient(
            -55deg,
            #424242,
            #424242 10px,
            #333 10px,
            #333 20px
    );
}

.margin8 {
    margin: 8px !important;
}

.card {
    background-color: #212121;
}

li.collection-item.z-depth-2.margin8.grey.darken-3 {
    border-radius: 20px;
}

.ul-border {
    border: "1px solid #00000059" !important;
    border-radius: 20px;
}

.page-header {
    margin: 16px 32px 16px 32px;
    color: #000000b3;
    font-size: 1.8rem;
    line-height: 110%;
    font-weight: bold;
    display: inline-block;
}

.margin-top16 {
    margin-top: 16px;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.width100 {
    width: 100%;
}

.width80 {
    width: 80%;
}

.width20 {
    width: 20%;
}

.font60 {
    font-size: 60px;
    line-height: 0.8;
}

.roll-container {
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.turn-border {
    border-radius: 20px;
    border: #B71C1C 3px solid;
}

.your-player {
    background: #5a5a5a !important;
}

.npc-text {
    font-color: #ca5151 !important;
}

/*img.circle-image*/
.health-outer {
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    width: 75%;
    height: 10px;
    border-radius: 5px;
    background-color: #282828;
}

.hp {
    width: 20%;
}

.health-inner {
    height: 9px;
    background-color: #b71c1c;
    border-radius: 5px;
}

.health-over {
    height: 9px;
    background-color: #e49a12;;
    border-radius: 5px;
}

.encounter-input {
    height: 16px !important;
    border-bottom: none !important;
    margin-bottom: 0 !important;
    text-align: center !important;
    color: #eee !important;

}

.encounter-input::-webkit-outer-spin-button,
.encounter-input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none !important;
    margin: 0 !important; /* <-- Apparently some margin are still there even though it's hidden */
}

.encounter-input[type=number] {
    -moz-appearance: textfield !important; /* Firefox */
}
